@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

.section {
  @apply flex justify-center min-h-screen font-sans;
}

h1 {
  @apply text-4xl font-semibold my-5;
}

h3 {
  @apply text-2xl font-semibold my-4;
}

input[type="text"],
textarea,
select {
  @apply block w-full rounded-sm border border-gray-300 shadow-sm p-2;
}

.btn {
  @apply text-white py-1 px-4 rounded transition m-5;
}

.btn-primary {
  @apply bg-blue-500 hover:bg-blue-700;
}

label {
  @apply text-gray-600 mx-1;
}

.errorMessage {
  @apply text-red-500 text-sm mt-1;
}